NODE_ENV=example

// Server 
PORT = 7000
WEB_SITE = http://example
WEB_SITE_PORT = 3000

// Tokens
TOKEN_KEY_JWT = example
TOKEN_KEY_OTP = example

// Accounts Mail
MAIL_ENCRYPTION_KEY_COFIG = 

// Telegram
TELEGRAM_ACTIVE = true
TELEGRAM_IMPORTANT_TOKEN = example
TELEGRAM_IMPORTANT_CHATID = example
TELEGRAM_IMFORMATION_TOKEN = example
TELEGRAM_IMFORMATION_CHATID = example
TELEGRAM_WARING_TOKEN = example
TELEGRAM_WARRING_CHATID = example
TELEGRAM_ERROR_TOKEN = example
TELEGRAM_ERROR_CHATID = example

// BD Factoring
PRISMA_DATABASE_FACTORING_NICKNAME = factoring
PRISMA_DATABASE_FACTORING_URL="example://example:@example:777/example"
PRISMA_DATABASE_FACTORING_TRANSACTION_TIMEOUT =1000
PRISMA_DATABASE_FACTORING_LOG_QUERY = true
PRISMA_DATABASE_FACTORING_LOG_INFO = true
PRISMA_DATABASE_FACTORING_LOG_WARN = true
PRISMA_DATABASE_FACTORING_LOG_ERROR = true
PRISMA_DATABASE_FACTORING_LOG_SLOW_QUERIES = true
PRISMA_DATABASE_FACTORING_SLOW_QUERY_THRESHOLD = 10

// Use silent para no imprimir los logs. En producción use  tail -f error.20251211.1.log | pino-pretty
// Valores válidos: trace, debug, info, warn, error, fatal
LOG_LEVEL_CONSOLE = silent
LOG_LEVEL_FILE = silent

//Tipo de cambio SUNAT y SBS
DECOLECTA_API_TOKEN=sk_99999.EjemploEjemploEjemploEjemploEjemploEjemploEjemplo
DECOLECTA_BASE_URL=https://api.decolecta.com/v1

APISPERU_API_TOKEN=EjemploEjemploEjemploEjemploEjemploEjemploEjemplo
APISPERU_BASE_URL=https://tipocambio.apisperu.com/api/v1