node_modules
coverage
.env
.history
sequelize-auto.config.json
storage/fail/*
storage/invalid/*
storage/procesar/*
storage/success/*
logs/*
dist/*
generated/*
.env.development
.env.production
src/daos - copia/*
security/ip/whitelist.txt
security/ip/blacklist.txt