<!DOCTYPE html>
<html>
  <head>
    <title>Obtén liquidez con el servicio de factoring electrónico de Finanza Tech</title>
  </head>
  <body>
    <div></div>
    <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4">
      <tbody>
        <tr>
          <td align="center" valign="top">
            <table class="mobile-shell" border="0" width="650" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td class="td container" style="width: 650px; min-width: 650px; font-size: 0pt; line-height: 0pt; margin: 0; font-weight: normal; padding: 55px 0px">
                    <!-- Logo inicio -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                              <tbody>
                                <tr>
                                  <td class="p40" style="padding: 0px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <th class="column-top" style="font-size: 0pt; line-height: 0pt; padding: 0; margin: 0; font-weight: normal; vertical-align: middle" bgcolor="#FFFFFF" width="325">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td style="width: 20px"></td>
                                                  <td style="font-size: 0px; line-height: 0pt; text-align: left">
                                                    <img src="https://finanzatech.com/img/FinanzaTech.png" alt="[Logo FINANZA TECH]" width="217.328" height="44" border="0" />
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                          <th class="column-top" style="font-size: 0pt; line-height: 0pt; padding: 0px; margin: 0; font-weight: normal; vertical-align: top" bgcolor="#E1E7EA">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td style="padding: 30px 30px">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding-bottom: 0px">{{cabecera.fecha_actual}}</td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Logo fin -->
                    <!-- Intro -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td class="bg" style="background-size: cover !important; -webkit-background-size: cover !important; background-repeat: none; background: #0468b2; background-color: #0468b2" valign="top" height="228.8499">
                                    <div>
                                      <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                          <tr>
                                            <td class="content-spacing" style="font-size: 0pt; line-height: 0pt; text-align: left" width="30" height="228.8499"></td>
                                            <td style="padding: 30px 0px">
                                              <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                  <tr>
                                                    <td class="h1 center pb25" style="color: #ffffff; font-family: Noto Sans, Arial, sans-serif; font-size: 40px; line-height: 46px; text-align: left; padding-bottom: 25px">{{random_subject}}</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                            <td class="content-spacing" style="font-size: 0pt; line-height: 0pt; text-align: left" width="30"></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- END Intro -->
                    <!-- Article / Title + Copy + Button -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                              <tbody>
                                <tr>
                                  <td class="p30-15" style="padding: 50px 30px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">Hola,</td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            Sabemos que <strong>la liquidez financiera es clave para el crecimiento de tu empresa</strong>. Por eso, en <strong>Finanza Tech</strong> te ofrecemos nuestro <strong>servicio de factoring electrónico</strong>, una solución que te
                                            permite <strong>adelantar el cobro de tus facturas sin necesidad de recurrir a endeudamiento bancario</strong>.
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            <strong>¿Por qué elegir Finanza Tech?</strong>
                                            <ul>
                                              <li><strong>Acceso 24/7:</strong> Opera desde tu celular o computadora, donde y cuando lo necesites.</li>
                                              <li><strong>Atención personalizada:</strong> Soporte directo vía WhatsApp con un especialista.</li>
                                              <li><strong>Proceso simple y 100% digital:</strong> Sin papeleos ni trámites presenciales. Todo online, rápido y seguro.</li>
                                            </ul>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            <strong>Tu seguridad es nuestra prioridad:</strong>
                                            <ul>
                                              <li>Somos <strong>participantes de CAVALI</strong>.</li>
                                              <li>Empresa de factoring <strong>inscrita en la SBS</strong>.</li>
                                              <li>Supervisados por la <strong>UIF-Perú</strong>.</li>
                                            </ul>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            <strong>¿Cómo empezar?</strong>
                                            <ol>
                                              <li><strong>Regístrate:</strong> <a href="https://app.finanzatech.com/register" target="_blank">Crea tu cuenta</a> de forma rápida y gratuita, y suscríbete a nuestro servicio de Factoring Electrónico.</li>
                                              <li><strong>Carga tu factura:</strong> Carga la factura que deseas negociar.</li>
                                              <li><strong>Recibe y acepta nuestra oferta:</strong> Analizamos al pagador y te enviamos una oferta transparente, justa y sin costos ocultos.</li>
                                              <li><strong>Recibe el adelanto de tu factura:</strong> Transferencia a tu cuenta bancaria. Fácil, rápido y seguro.</li>
                                            </ol>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            <p style="text-align: center; margin-top: 20px">
                                              <a href="https://app.finanzatech.com/register" target="_blank" style="background-color: #007bff; color: #fff; padding: 12px 24px; text-decoration: none; font-size: 16px; border-radius: 6px; display: inline-block">
                                                ¡Regístrate gratis!</a
                                              >
                                            </p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            Contáctanos al <a href="https://wa.me/51961784314" target="_blank"><strong>+51 961 784 314</strong></a> (WhatsApp o llamada) o escríbenos a
                                            <a href="mailto:contacto@finanzatech.com?subject=Solicitud%20de%20información&body=Hola,%20quisiera%20agendar%20una%20reunión%20para%20el%20..."><strong>contacto@finanzatech.com</strong></a
                                            >. También puedes visitar nuestra web: <a href="https://www.finanzatech.com" target="_blank">www.finanzatech.com</a> para conocer más sobre nosotros.
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px"></td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">¡Impulsa tu negocio hoy mismo adelantando tus facturas!</td>
                                        </tr>
                                      </tbody>
                                    </table>

                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td width="100%" style="padding: 20px 0px"></td>
                                        </tr>
                                      </tbody>
                                    </table>

                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px"></td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            Saludos cordiales,
                                            <p>
                                              <strong>Ruth Hurtado</strong><br />

                                              <strong>FINANZA TECH </strong><br />

                                              <a href="https://wa.me/51961784314" target="_blank">+51 961 784 314</a><br />
                                              <a href="mailto:contacto@finanzatech.com?subject=Solicitud%20de%20información&body=Hola,%20quisiera%20agendar%20una%20reunión%20para%20el%20...">contacto@finanzatech.com</a><br />
                                              <a href="https://www.finanzatech.com" target="_blank">www.finanzatech.com</a><br />
                                            </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- END Article / Title + Copy + Button -->
                    <!-- Article Image On The Left -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#E1E7EA">
                              <tbody>
                                <tr>
                                  <td class="p40" style="padding: 0px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <th class="column-top" style="font-size: 0pt; line-height: 0pt; padding: 0; margin: 0; font-weight: normal; vertical-align: middle" width="325">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td class="fluid-img" style="font-size: 0pt; line-height: 0pt; text-align: center">
                                                    <img src="https://finanzatech.com/img/FinanzaTech.png" alt="[Logo FINANZA TECH]" width="217.328" height="44" border="0" />
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                          <th class="column-top" style="font-size: 0pt; line-height: 0pt; padding: 0px; margin: 0; font-weight: normal; vertical-align: top" bgcolor="#E1E7EA">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td style="padding: 20px 40px">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td class="h4 pb20" style="color: #0468b2; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 28px; text-align: left; padding-bottom: 5px"><strong>¿Tienes dudas?</strong></td>
                                                        </tr>
                                                        <tr>
                                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 22px; text-align: left; padding-bottom: 0px">
                                                            Escríbenos al correo contacto@finanzatech.com o al whatsapp +51 961784314
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Article Image On The Left -->
                    <!-- Responsabilidad Incio -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                              <tbody>
                                <tr>
                                  <td class="p30-15" style="padding: 20px 50px"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Responsabilidad Fin -->
                    <!-- Derechos reservados Incio -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f7f7f7">
                              <tbody>
                                <tr>
                                  <td class="p30-15" style="padding: 16px 16px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 12px; line-height: 26px; text-align: center; padding-bottom: 10px">
                                            Si no deseas seguir recibiendo estos mensajes, por favor escríbenos con el asunto “Remover”.
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: center; padding-bottom: 0px">© 2024 Finanza Tech. Todos los derechos reservados.</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Derechos reservados Fin -->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
