<!DOCTYPE html>
<html>
  <head>
    <title>Confirmación de inicio de Operación de Factoring</title>
  </head>
  <body>
    <div></div>
    <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4">
      <tbody>
        <tr>
          <td align="center" valign="top">
            <table class="mobile-shell" border="0" width="650" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td class="td container" style="width: 650px; min-width: 650px; font-size: 0pt; line-height: 0pt; margin: 0; font-weight: normal; padding: 55px 0px">
                    <!-- Logo inicio -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                              <tbody>
                                <tr>
                                  <td class="p40" style="padding: 0px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <th class="column-top" style="font-size: 0pt; line-height: 0pt; padding: 0; margin: 0; font-weight: normal; vertical-align: middle" bgcolor="#FFFFFF" width="325">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td style="width: 20px"></td>
                                                  <td style="font-size: 0px; line-height: 0pt; text-align: left">
                                                    <img src="https://finanzatech.com/img/FinanzaTech.png" alt="[Logo FINANZA TECH]" width="217.328" height="44" border="0" />
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                          <th class="column-top" style="font-size: 0pt; line-height: 0pt; padding: 0px; margin: 0; font-weight: normal; vertical-align: top" bgcolor="#E1E7EA">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td style="padding: 30px 30px">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding-bottom: 0px">{{cabecera.fecha_actual}}</td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Logo fin -->
                    <!-- Intro -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td class="bg" style="background-size: cover !important; -webkit-background-size: cover !important; background-repeat: none; background: #0468b2; background-color: #0468b2" valign="top" height="228.8499">
                                    <div>
                                      <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                          <tr>
                                            <td class="content-spacing" style="font-size: 0pt; line-height: 0pt; text-align: left" width="30" height="228.8499"></td>
                                            <td style="padding: 30px 0px">
                                              <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                  <tr>
                                                    <td class="h1 center pb25" style="color: #ffffff; font-family: Noto Sans, Arial, sans-serif; font-size: 40px; line-height: 46px; text-align: left; padding-bottom: 25px">Confirmación de inicio de Operación de Factoring</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                            <td class="content-spacing" style="font-size: 0pt; line-height: 0pt; text-align: left" width="30"></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- END Intro -->
                    <!-- Article / Title + Copy + Button -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                              <tbody>
                                <tr>
                                  <td class="p30-15" style="padding: 50px 30px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">Hola {{usuario.usuarionombres}},</td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            Reciba un cordial saludo. Nos complace informarle que su operación de factoring ha sido iniciada exitosamente. A continuación, los detalles:
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            <ol>
                                              <li><strong>Aceptación del pagador:</strong> El pagador ha confirmado los datos de transferencia de la factura.</li>
                                              <li><strong>Cesión registrada:</strong> La factura ha sido cedida y anotada a favor de Finanza Tech S.A.C. en Factrack-CAVALI.</li>
                                              <li><strong>Adelanto transferido:</strong> El monto acordado ha sido abonado a su cuenta bancaria registrada.</li>
                                            </ol>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td width="100%" style="color: #000000; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 0px"><strong>DATOS DE LA OPERACIÓN DE FACTORING:</strong></td>
                                        </tr>
                                        <tr>
                                          <td width="100%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td width="35%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Código:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoring.code}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Fecha inicio:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoring_formateado.fecha_operacion}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Cedente (tu empresa):</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">
                                            {{factoring.empresa_cedente.razon_social}}<br />{{factoring.empresa_cedente.ruc}}
                                          </td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="35%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Pagador (tu cliente):</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">
                                            {{factoring.empresa_aceptante.razon_social}}<br />{{factoring.empresa_aceptante.ruc}}
                                          </td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Número de factura:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoring_formateado.factura}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Valor neto:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta_formateado.monto_neto}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>

                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Moneda:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoring.moneda.codigo}} ({{factoring.moneda.nombre}})</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Fecha de pago (estimada):</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta_formateado.fecha_pago_estimado}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Días (estimados):</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta.dias_pago_estimado}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Tasa mensual:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta_formateado.tdm}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Financiamiento:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta_formateado.porcentaje_financiado_estimado}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Tipo de factoring:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta.factoring_tipo.nombre}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Valor garantía:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta_formateado.monto_garantia}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Valor financiado:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta_formateado.monto_financiado}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Valor descuento<sup>(1)</sup>:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta_formateado.monto_descuento}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Comisión FT:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta_formateado.monto_comision}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Costos + Gastos:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta_formateado.monto_costo_estimado}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>IGV:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta_formateado.monto_total_igv}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                        <tr>
                                          <td width="30%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding: 10px 20px"><strong>Valor adelanto:</strong></td>
                                          <td width="70%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: right; padding: 10px 20px">{{factoringpropuesta_formateado.monto_adelanto}}</td>
                                        </tr>
                                        <tr>
                                          <td width="35%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                          <td width="70%"><p style="font-family: Poppins, sans-serif; border-top: dotted 1px #c6cacf"></p></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td width="100%" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 12px; line-height: 26px; text-align: left; padding: 10px 20px">
                                            Nota:<br />
                                            (1) Los intereses aplicados (Valor descuento) dependen de los días efectivos de financiamiento de la factura.
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td width="100%" style="padding: 20px 0px"></td>
                                        </tr>
                                      </tbody>
                                    </table>

                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">Quedamos atentos a cualquier consulta adicional que pueda tener.</td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px"></td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 16px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            Atentamente,
                                            <p><strong>Finanza Tech</strong></p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- END Article / Title + Copy + Button -->
                    <!-- Article Image On The Left -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#E1E7EA">
                              <tbody>
                                <tr>
                                  <td class="p40" style="padding: 0px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <th class="column-top" style="font-size: 0pt; line-height: 0pt; padding: 0; margin: 0; font-weight: normal; vertical-align: middle" width="325">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td class="fluid-img" style="font-size: 0pt; line-height: 0pt; text-align: center">
                                                    <img src="https://finanzatech.com/img/FinanzaTech.png" alt="[Logo FINANZA TECH]" width="217.328" height="44" border="0" />
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                          <th class="column-top" style="font-size: 0pt; line-height: 0pt; padding: 0px; margin: 0; font-weight: normal; vertical-align: top" bgcolor="#E1E7EA">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td style="padding: 20px 40px">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td class="h4 pb20" style="color: #0468b2; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 28px; text-align: left; padding-bottom: 5px"><strong>¿Tienes dudas?</strong></td>
                                                        </tr>
                                                        <tr>
                                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 22px; text-align: left; padding-bottom: 0px">
                                                            Escribeneos al correo contacto@finanzatech.com o al whatsapp +51 961784314
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Article Image On The Left -->
                    <!-- Responsabilidad Incio -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                              <tbody>
                                <tr>
                                  <td class="p30-15" style="padding: 30px 50px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 12px; line-height: 18px; text-align: center; padding-bottom: 30px">
                                            El sistema de correo electrónico de Finanza Tech está destinado únicamente para fines del negocio. Cualquier otro uso contraviene las políticas de la empresa.
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 12px; line-height: 18px; text-align: center; padding-bottom: 0px">
                                            Toda la información contenida en este mensaje es confidencial y de uso exclusivo de Finanza Tech. Su divulgación, copia o modificación están prohibidas y sólo debe ser conocida por el destinatario. Si ha recibido este mensaje por error,
                                            le pedimos que lo elimine y notifique al remitente.
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Responsabilidad Fin -->
                    <!-- Derechos reservados Incio -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f7f7f7">
                              <tbody>
                                <tr>
                                  <td class="p30-15" style="padding: 16px 16px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: center; padding-bottom: 10px">
                                            Has recibido este correo porque tienes una cuenta activa con nosotros.
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #222222; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: center; padding-bottom: 0px">© 2024 Finanza Tech. Todos los derechos reservados.</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Derechos reservados Fin -->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
