<!DOCTYPE html>
<html>
  <head>
    <title>Registro denegado</title>
  </head>
  <body>
    <div></div>
    <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4">
      <tbody>
        <tr>
          <td align="center" valign="top">
            <table class="mobile-shell" border="0" width="650" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td class="td container" style="width: 650px; min-width: 650px; font-size: 0pt; line-height: 0pt; margin: 0; font-weight: normal; padding: 55px 0px">
                    <!-- Intro -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td
                                    class="bg"
                                    style="
                                      background-size: cover !important;
                                      -webkit-background-size: cover !important;
                                      background-repeat: none;
                                      background: #0468b2 url('https://finanzatech.com/img/c1_bg.jpg');
                                      background-color: #0468b2;
                                      background-image: url('https://finanzatech.com/img/c1_bg.jpg');
                                    "
                                    valign="top"
                                    height="228.8499"
                                  >
                                    <div>
                                      <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                          <tr>
                                            <td class="content-spacing" style="font-size: 0pt; line-height: 0pt; text-align: left" width="30" height="228.8499"></td>
                                            <td style="padding: 30px 0px">
                                              <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                  <tr>
                                                    <td class="h1 center pb25" style="color: #ffffff; font-family: Noto Sans, Arial, sans-serif; font-size: 40px; line-height: 46px; text-align: left; padding-bottom: 25px">Registro a la plataforma SEPREMI - NO ACEPTADA</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                            <td class="content-spacing" style="font-size: 0pt; line-height: 0pt; text-align: left" width="30"></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- END Intro -->
                    <!-- Article / Title + Copy + Button -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                              <tbody>
                                <tr>
                                  <td class="p30-15" style="padding: 50px 30px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 20px">Estimado {{registro_nombre}}</td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            Reciba un cordial saludo y nuestro agradecimiento por su interés en pertenecer a la Red de usuarios SEPREMI.
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            Al respecto; comentarle que SEPREMI es una Plataforma de seguimiento de precios, disponibilidad e impacto en la gestión, de los medicamentos e insumos de salud sexual y reproductiva de <b>uso exclusivo</b> de las
                                            <b>agencias de compra y otras instancias técnicas de salud del gobierno</b> de algunos países de latino américa y el caribe; por lo que (y por el momento), no es posible para nosotros facilitarle acceso como miembro de la referida Red
                                            de usuarios. No obstante, le ofrecemos nuestro apoyo con información que estuviera en nuestra facultad compartirle para cuando lo requiera.
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            Para tales efectos, puede comunicarse con nosotros a: coordinador@sepremi.org o contactanos@sepremi.org.
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 20px">Sin otro particular, me suscribo de usted.</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- END Article / Title + Copy + Button -->
                    <!-- Article Image On The Left -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                              <tbody>
                                <tr>
                                  <td class="p40" style="padding: 0px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <th class="column-top" style="font-size: 0pt; line-height: 0pt; padding: 0; margin: 0; font-weight: normal; vertical-align: middle" width="325">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td class="fluid-img" style="font-size: 0pt; line-height: 0pt; text-align: center">
                                                    <img src="https://sepremi.org/wp-content/uploads/logo01.jpg" alt="Logo SEPREMI" width="250" height="77" border="0" />
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                          <th class="column-top" style="font-size: 0pt; line-height: 0pt; padding: 0px; margin: 0; font-weight: normal; vertical-align: top" bgcolor="#E1E7EA">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td style="padding: 20px 40px">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td class="h4 pb20" style="color: #0468b2; font-family: Noto Sans, Arial, sans-serif; font-size: 20px; line-height: 28px; text-align: left; padding-bottom: 10px">José Ventura Pinedo</td>
                                                        </tr>
                                                        <tr>
                                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 0px">Coordinador SEPREMI</td>
                                                        </tr>
                                                        <tr>
                                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 0px">coordinador@sepremi.org</td>
                                                        </tr>
                                                        <tr>
                                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 0px">www.sepremi.org</td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Article Image On The Left -->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
