<!DOCTYPE html>
<html>
  <head>
    <title>Registro aceptado</title>
  </head>
  <body>
    <div></div>
    <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4">
      <tbody>
        <tr>
          <td align="center" valign="top">
            <table class="mobile-shell" border="0" width="650" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td class="td container" style="width: 650px; min-width: 650px; font-size: 0pt; line-height: 0pt; margin: 0; font-weight: normal; padding: 55px 0px">
                    <!-- Intro -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td class="bg" style="background-size: cover !important; -webkit-background-size: cover !important; background-repeat: none; background: #0468b2; background-color: #0468b2" valign="top" height="228.8499">
                                    <div>
                                      <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                          <tr>
                                            <td class="content-spacing" style="font-size: 0pt; line-height: 0pt; text-align: left" width="30" height="228.8499"></td>
                                            <td style="padding: 30px 0px">
                                              <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                  <tr>
                                                    <td class="h1 center pb25" style="color: #ffffff; font-family: Noto Sans, Arial, sans-serif; font-size: 40px; line-height: 46px; text-align: left; padding-bottom: 25px">Registro a la plataforma SEPREMI – ACEPTADA</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                            <td class="content-spacing" style="font-size: 0pt; line-height: 0pt; text-align: left" width="30"></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- END Intro -->
                    <!-- Article / Title + Copy + Button -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                              <tbody>
                                <tr>
                                  <td class="p30-15" style="padding: 50px 30px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 20px">Estimado {{registro_nombre}}</td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            Por este medio le saludamos afectuosamente y agradecemos su interés por pertenecer a la Red de usuarios SEPREMI. En tal sentido; le informamos que su solicitud ha sido verificada y aceptada, y para efectos de utilizar la información de
                                            nuestra plataforma le informamos:
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 0px">- Nombre de usuario: {{login}}</td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 20px">- Contraseña: {{clave}}</td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 20px">
                                            En cuanto le sea posible le sugerimos cambiar la contraseña asignada, no olvide anotarla y resguardarla en un espacio seguro.
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 20px">Le damos nuestra cordial bienvenida.</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- END Article / Title + Copy + Button -->
                    <!-- Article Image On The Left -->
                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 0px">
                            <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                              <tbody>
                                <tr>
                                  <td class="p40" style="padding: 0px">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <th class="column-top" style="font-size: 0pt; line-height: 0pt; padding: 0; margin: 0; font-weight: normal; vertical-align: middle" width="325">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td class="fluid-img" style="font-size: 0pt; line-height: 0pt; text-align: center">
                                                    <img src="https://sepremi.org/wp-content/uploads/logo01.jpg" alt="Logo SEPREMI" width="250" height="77" border="0" />
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                          <th class="column-top" style="font-size: 0pt; line-height: 0pt; padding: 0px; margin: 0; font-weight: normal; vertical-align: top" bgcolor="#E1E7EA">
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td style="padding: 20px 40px">
                                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td class="h4 pb20" style="color: #0468b2; font-family: Noto Sans, Arial, sans-serif; font-size: 20px; line-height: 28px; text-align: left; padding-bottom: 10px">José Ventura Pinedo</td>
                                                        </tr>
                                                        <tr>
                                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 0px">Coordinador SEPREMI</td>
                                                        </tr>
                                                        <tr>
                                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 0px">coordinador@sepremi.org</td>
                                                        </tr>
                                                        <tr>
                                                          <td class="text pb20" style="color: #777777; font-family: Noto Sans, Arial, sans-serif; font-size: 14px; line-height: 26px; text-align: left; padding-bottom: 0px">www.sepremi.org</td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </th>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- Article Image On The Left -->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
